<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!-- ... -->
<head>
    <meta charset="UTF-8" />
    <title>Log In</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
<nav>
    <ul>
        <!-- More links here... -->
        <li>
            <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
            </form>
        </li>
    </ul>
</nav>

    User ID: <span id ="userId" th:text="${#authentication.principal.id}"/>
    Username: <span th:text="${#authentication.principal.username}"/>
</div>

<div id="currently-popular-movies">
</div>

<div id="searched-movies"></div>

<input id="movie-search-field">
<button id="movie-search">Search for movie</button>

<script type="text/javascript" th:src="@{/script.js}"></script>
</body>
</html>