<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!--   link to style sheets   -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="../static/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Sign up</title>
</head>
<body>
<h1>Create an account</h1>
<form th:action="@{/register}" method="POST" th:object="${user}">
    <label for="username">Username</label>
    <input id="username" th:field="*{username}" />
    <div id="user-warning"></div>

    <label for="email">Email</label>
    <input id="email" type="email" th:field="*{email}" />
    <div id="email-warning"></div>

    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}" />
    <div id="password-warning"></div>

    <label for="password-checker">Re-enter your password</label>
    <input id="password-checker" type="password">
    <div id="password-checker-warning"></div>

    <input id="submit" value="Sign me up!" type="submit" disabled="disabled" />
</form>
<script type="text/javascript" th:src="@{/registration-script.js}"></script>
</body>
</html>